@using Bll.Models.PageModels;
@model PrivatePageModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div>
    @Model.Person.FirstName
</div>
<div>
    @Model.Person.LastName
</div>
